<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<h1>US University</h1>
<a href="student">Student</a>
<a href="teacher">Teacher</a>
</body>
</html>